In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function
import json

from datetime import date
import datetime
#imports

There are 20 teams in the PL, each plays 38 matches for a total of 760. The first game in the 2022-2023 season is number 18202, and it counts up one by one from there, so the total range will be 18,202 to 18,961. Then we will take only the completed games from there.

NEXT: Will add something to get all of the players from the match, and then count the defensive players to determine back 4 or back 5

Code will be -- take all of the elements where the class "player-position" is DC... get a count, if it's two then the team will be in a back four, if there are 3 then it's a back five with wingbacks

In [3]:
# d = range(18202,18962)
match_range = range(18202,18400)

In [4]:
urls = []
for i in match_range:
    base_url = f'https://understat.com/match/{i}'
    urls.append(base_url)

In [5]:
all_res_data = []
for i in urls:
    res = requests.get(i)
    soup = BeautifulSoup(res.content, 'lxml')
    scripts = soup.find_all('script')
#     positions = soup.find_all("span", {"class": "player-position"})

    all_res_data.append(scripts)
    #Here we can append only the ones that have 'script'

In [44]:
backup_all_res_data = all_res_data
#Adding a backup unless we need it and so we don't need to scrape again

In [46]:
all_res_data = backup_all_res_data

In [47]:
scripts = []
for i in all_res_data:
    if len(i) > 1:
        scripts.append(i)
    else:
        pass
#All of the incomplete games in all_res_data will have a length of zero, so this is how we will filter out the unplayed games
#if necessary

In [48]:
script_list = []
for i in scripts:
    script_list.append(i[1])
#The [1] element is the one with all of the shot data

In [49]:
for i in range(0, len(script_list)):
    script_list[i] = str(script_list[i])
#turning all of our data into strings

In [50]:
data_list = []

# strip unnecessary symbols and get only JSON data 
for i in range(0, len(script_list)):
    ind_start = script_list[i].index("('")+2 
    ind_end = script_list[i].index("')") 
    json_data = script_list[i][ind_start:ind_end] 
    json_data = json_data.encode('utf8').decode('unicode_escape')

#convert string to json format
    data = json.loads(json_data)
    data_list.append(data)

In [51]:
all_data = []
match_id_list = []
x_list = []
y_list = []
home_score_list = []
away_score_list = []
player_list = []
xG_list = []
h_a_list = []
situation_list = []
result_list = []
team_list = []
opposing_team_list = []
minute_list = []
length = len(data_list)
for i in range(length):
    match_id = [] 
    x = []
    y = []
    home_score = []
    away_score = []
    player = []
    xG = []
    h_a = []
    situation = []
    result = []
    team = []
    opposing_team = []
    minute = []
    data_away = data_list[i]['a']
    data_home = data_list[i]['h']

    for index in range(len(data_home)):
        for key in data_home[index]:
            if key == 'X':
                x.append(data_home[index][key])
            if key == 'Y':
                y.append(data_home[index][key])
            if key == 'h_team':
                team.append(data_home[index][key])
            if key == 'a_team':
                opposing_team.append(data_home[index][key])
            if key == 'xG':
                xG.append(data_home[index][key])
            if key == 'situation':
                situation.append(data_home[index][key])
            if key == 'result':
                result.append(data_home[index][key])
            if key == 'h_goals':
                home_score.append(data_home[index][key])
            if key == 'a_goals':
                away_score.append(data_home[index][key])
            if key == 'minute':
                minute.append(data_home[index][key]) 
            if key == 'player':
                player.append(data_home[index][key])
            if key == 'match_id':
                match_id.append(data_home[index][key])
            if key == 'h_a':
                h_a.append(data_home[index][key])
        
        #NEED TO APPEND EVERYTHING TO ALL_DATA

    for index in range(len(data_away)):
        for key in data_away[index]:
            if key == 'X':
                x.append(data_away[index][key])
            if key == 'Y':
                y.append(data_away[index][key])
            if key == 'a_team':
                team.append(data_away[index][key])
            if key == 'h_team':
                opposing_team.append(data_away[index][key])
            if key == 'xG':
                xG.append(data_away[index][key])
            if key == 'situation':
                situation.append(data_away[index][key])
            if key == 'result':
                result.append(data_away[index][key])
            if key == 'h_goals':
                home_score.append(data_away[index][key])
            if key == 'a_goals':
                away_score.append(data_away[index][key])
            if key == 'minute':
                minute.append(data_away[index][key])
            if key == 'player':
                player.append(data_away[index][key])
            if key == 'match_id':
                match_id.append(data_away[index][key])
            if key == 'h_a':
                h_a.append(data_away[index][key]) 
                
    match_id_list.append(match_id)
    x_list.append(x)
    y_list.append(y)
    team_list.append(team)
    opposing_team_list.append(opposing_team)
    xG_list.append(xG)
    situation_list.append(situation)
    result_list.append(result)
    home_score_list.append(home_score)
    away_score_list.append(away_score)
    minute_list.append(minute)
    player_list.append(player)
    h_a_list.append(h_a)

In [52]:
match_id_list = [val for sublist in match_id_list for val in sublist]
x_list = [val for sublist in x_list for val in sublist]
y_list = [val for sublist in y_list for val in sublist]
team_list = [val for sublist in team_list for val in sublist]
opposing_team_list = [val for sublist in opposing_team_list for val in sublist]
xG_list = [val for sublist in xG_list for val in sublist]
situation_list = [val for sublist in situation_list for val in sublist]
result_list = [val for sublist in result_list for val in sublist]
home_score_list = [val for sublist in home_score_list for val in sublist]
away_score_list = [val for sublist in away_score_list for val in sublist]
minute_list = [val for sublist in minute_list for val in sublist]
player_list = [val for sublist in player_list for val in sublist]
h_a_list = [val for sublist in h_a_list for val in sublist]

#Flattening nested lists

In [53]:
col_names = ['match_id','x','y','xG','minute','situation','result','team','opposing_team','h_a','player','home_score','away_score']
df = pd.DataFrame([match_id_list,x_list,y_list,xG_list,minute_list,situation_list,result_list,team_list,opposing_team_list,h_a_list,player_list,home_score_list,away_score_list],index=col_names)
# df = pd.DataFrame([all_data[0],all_data[1],all_data[2],all_data[3],all_data[4],all_data[5],all_data[6],all_data[7],all_data[8],all_data[9],all_data[10]],index=col_names)
df = df.T
df = df.astype({'minute':'int'})
df = df.sort_values(by=['match_id','minute'])
df = df.reset_index()

In [54]:
df['away_score'] = 0
df['home_score'] = 0

Up next, need to figure out how to add score once we see goal, and keep it there for all of the subsequent rows for that game

In [55]:
df['home_goal_scored'] = ''
df['away_goal_scored'] = ''

In [56]:
df['home_goal_scored'] = np.where((df['result'] == 'Goal') & (df['h_a'] == 'h') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'a'), 1, 0)
df['away_goal_scored'] = np.where((df['result'] == 'Goal') & (df['h_a'] == 'a') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'h'), 1, 0)

In [57]:
away_count = 0

In [58]:
# df['home_score'] = np.where((df['result'] == 'Goal') & (df['h_a'] == 'h') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'a'), 1, 0)
# df['away_score'] = np.where((df['result'] == 'Goal') & (df['h_a'] == 'a') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'h'), 1, 0)
# #Increment the score for each goal or own goal

In [59]:
unique_match_id = df['match_id'].unique()

In [60]:
df['away_score'] = (df['away_goal_scored'] == 1).cumsum()
df['home_score'] = (df['home_goal_scored'] == 1).cumsum()
#This sums for every time a goal is scored in the entire df -- need to do it for each individual match_id

In [61]:
# df['home_current_score'] = ''
# df['away_current_score'] = ''

In [62]:
for i in range(len(df)):
    new_home = np.where((df['result'] == 'Goal') & (df['h_a'] == 'h') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'a'), 1, 0)
    new_away = np.where((df['result'] == 'Goal') & (df['h_a'] == 'a') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'h'), 1, 0)

In [63]:
for i in range(len(df)):
    df['home_current_score'][i+1] = new_home[i]
    df['away_current_score'][i+1] = new_away[i]
    
#Setting the value one after the goal scored as equal to one, because technically at the time of the goalscoring shot, the 
#score would not have changed yet -- so we want to change the one after

C:\Users\User\AppData\Local\Temp/ipykernel_15728/917744379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['home_current_score'][i+1] = new_home[i]
C:\Users\User\AppData\Local\Temp/ipykernel_15728/917744379.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['away_current_score'][i+1] = new_away[i]

# Non Pen xG

In [ ]:
df['non_pen_xG'] = #Need to sum all of them that aren't pens here

In [ ]:
non_pen_xg_total = df.groupby('team')['non_pen_xG'].sum()

In [64]:
# test_home_list = np.where((df['result'] == 'Goal') & (df['h_a'] == 'h') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'a'), 1, 0)

In [65]:
df['xG'] = df['xG'].astype(float)
df['match_id'] = df['match_id'].astype(int)

In [66]:
xg_total = df.groupby('team')['xG'].sum()
#Count total xG for every team

In [67]:
xg_total = pd.DataFrame(data=xg_total)
# xg_total = xg_total.reset_index(level=0)

In [68]:
xg_total['xGA'] = df.groupby('opposing_team')['xG'].sum()

In [69]:
xg_total['xG_difference'] = xg_total['xG'] - xg_total['xGA']

In [70]:
xg_total['matches_played'] = df.groupby('team')['match_id'].nunique()
#Get number of matches played for each team

In [71]:
xg_total = xg_total.reset_index(level=0)

In [72]:
xg_total['avg_xG_diff'] = round(xg_total['xG_difference'] / xg_total['matches_played'], 2)
xg_total['avg_xG_for'] = round(xg_total['xG'] / xg_total['matches_played'], 2)
xg_total['avg_xGA'] = round(xg_total['xGA'] / xg_total['matches_played'], 2)

In [73]:
xg_total = xg_total.sort_values(by='avg_xG_diff', ascending=False).reset_index(drop=True)

In [74]:
xg_total

,team,xG,xGA,xG_difference,matches_played,avg_xG_diff,avg_xG_for,avg_xGA
0,Manchester City,17.602847,3.994953,13.607894,7,1.94,2.51,0.57
1,Arsenal,14.448916,5.911167,8.537749,7,1.22,2.06,0.84
2,Liverpool,14.153699,7.186824,6.966876,6,1.16,2.36,1.20
3,Brighton,11.291308,5.681505,5.609803,6,0.93,1.88,0.95
4,Tottenham,12.880927,7.219784,5.661143,7,0.81,1.84,1.03
5,Manchester United,9.599411,8.078713,1.520699,6,0.25,1.60,1.35
6,Brentford,11.352967,9.970925,1.382042,7,0.20,1.62,1.42
7,Newcastle United,11.367981,10.322543,1.045438,7,0.15,1.62,1.47
8,Leeds,9.558559,8.774671,0.783888,6,0.13,1.59,1.46
9,Chelsea,8.416282,9.604870,-1.188588,6,-0.20,1.40,1.60
10,West Ham,7.045280,8.618292,-1.573011,7,-0.22,1.01,1.23
11,Wolverhampton Wanderers,6.841702,8.442516,-1.600814,7,-0.23,0.98,1.21
12,Southampton,7.267867,10.019294,-2.751427,7,-0.39,1.04,1.43
13,Everton,8.046968,11.132744,-3.085775,7,-0.44,1.15,1.59
14,Crystal Palace,8.042848,11.541426,-3.498578,6,-0.58,1.34,1.92
15,Aston Villa,6.240447,10.663953,-4.423506,7,-0.63,0.89,1.52
16,Fulham,9.159646,13.609938,-4.450292,7,-0.64,1.31,1.94
17,Leicester,6.628755,12.812728,-6.183973,7,-0.88,0.95,1.83
18,Nottingham Forest,7.531918,13.942187,-6.410269,7,-0.92,1.08,1.99
19,Bournemouth,3.352932,13.302230,-9.949299,7,-1.42,0.48,1.90

# Non Pen xG

In [77]:
df

,index,match_id,x,y,xG,minute,situation,result,team,opposing_team,h_a,player,home_score,away_score,home_goal_scored,away_goal_scored,home_current_score,away_current_score
0,11,18202,0.8830000305175781,0.5070000076293946,0.181834,3,OpenPlay,BlockedShot,Arsenal,Crystal Palace,a,Gabriel Jesus,0,0,0,0,,
1,12,18202,0.935,0.6120000076293945,0.340446,3,OpenPlay,MissedShots,Arsenal,Crystal Palace,a,Gabriel Martinelli,0,0,0,0,0,0
2,13,18202,0.875,0.710999984741211,0.044801,7,OpenPlay,SavedShot,Arsenal,Crystal Palace,a,Oleksandr Zinchenko,0,0,0,0,0,0
3,14,18202,0.8169999694824219,0.5640000152587891,0.049026,8,OpenPlay,BlockedShot,Arsenal,Crystal Palace,a,Thomas Partey,0,0,0,0,0,0
4,15,18202,0.975,0.46900001525878904,0.538495,19,FromCorner,Goal,Arsenal,Crystal Palace,a,Gabriel Martinelli,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,1701,18280,0.8440000152587891,0.4540000152587891,0.092872,65,OpenPlay,SavedShot,Arsenal,Brentford,a,Bukayo Saka,121,77,0,0,0,0
1700,1702,18280,0.750999984741211,0.5259999847412109,0.025638,69,OpenPlay,MissedShots,Arsenal,Brentford,a,Gabriel,121,77,0,0,0,0
1701,1689,18280,0.93,0.3920000076293945,0.310285,70,OpenPlay,SavedShot,Brentford,Arsenal,h,Mikkel Damsgaard,121,77,0,0,0,0
1702,1703,18280,0.95,0.6580000305175782,0.082522,86,OpenPlay,SavedShot,Arsenal,Brentford,a,Gabriel Jesus,121,77,0,0,0,0
1703,1690,18280,0.850999984741211,0.51,0.021561,90,SetPiece,MissedShots,Brentford,Arsenal,h,Ivan Toney,121,77,0,0,0,0

In [76]:
# xg_total.to_excel("prem_xG_data.xlsx")