In [426]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
from __future__ import print_function
import json

from datetime import date
import datetime
#imports

There are 20 teams in the PL, each plays 38 matches for a total of 760. The first game in the 2022-2023 season is number 18202, and it counts up one by one from there, so the total range will be 18,202 to 18,961. Then we will take only the completed games from there.

In [427]:
# d = range(18202,18962)
match_range = range(18202,18300)

In [428]:
urls = []
for i in match_range:
    base_url = f'https://understat.com/match/{i}'
    urls.append(base_url)

In [429]:
all_res_data = []
for i in urls:
    res = requests.get(i)
    soup = BeautifulSoup(res.content, 'lxml')
    scripts = soup.find_all('script')

    all_res_data.append(scripts)
    #Here we can append only the ones that have 'script'

In [430]:
backup_all_res_data = all_res_data
#Adding a backup unless we need it and so we don't need to scrape again

In [431]:
all_res_data = backup_all_res_data

In [432]:
scripts = []
for i in all_res_data:
    if len(i) > 1:
        scripts.append(i)
    else:
        pass
#All of the incomplete games in all_res_data will have a length of zero, so this is how we will filter out the unplayed games
#if necessary

In [433]:
script_list = []
for i in scripts:
    script_list.append(i[1])
#The [1] element is the one with all of the shot data

In [434]:
for i in range(0, len(script_list)):
    script_list[i] = str(script_list[i])
#turning all of our data into strings

In [435]:
data_list = []

# strip unnecessary symbols and get only JSON data 
for i in range(0, len(script_list)):
    ind_start = script_list[i].index("('")+2 
    ind_end = script_list[i].index("')") 
    json_data = script_list[i][ind_start:ind_end] 
    json_data = json_data.encode('utf8').decode('unicode_escape')

#convert string to json format
    data = json.loads(json_data)
    data_list.append(data)

In [436]:
all_data = []
match_id_list = []
x_list = []
y_list = []
home_score_list = []
away_score_list = []
player_list = []
xG_list = []
h_a_list = []
result_list = []
team_list = []
opposing_team_list = []
minute_list = []
length = len(data_list)
for i in range(length):
    match_id = [] 
    x = []
    y = []
    home_score = []
    away_score = []
    player = []
    xG = []
    h_a = []
    result = []
    team = []
    opposing_team = []
    minute = []
    data_away = data_list[i]['a']
    data_home = data_list[i]['h']

    for index in range(len(data_home)):
        for key in data_home[index]:
            if key == 'X':
                x.append(data_home[index][key])
            if key == 'Y':
                y.append(data_home[index][key])
            if key == 'h_team':
                team.append(data_home[index][key])
            if key == 'a_team':
                opposing_team.append(data_home[index][key])
            if key == 'xG':
                xG.append(data_home[index][key])
            if key == 'result':
                result.append(data_home[index][key])
            if key == 'h_goals':
                home_score.append(data_home[index][key])
            if key == 'a_goals':
                away_score.append(data_home[index][key])
            if key == 'minute':
                minute.append(data_home[index][key]) 
            if key == 'player':
                player.append(data_home[index][key])
            if key == 'match_id':
                match_id.append(data_home[index][key])
            if key == 'h_a':
                h_a.append(data_home[index][key])
        
        #NEED TO APPEND EVERYTHING TO ALL_DATA

    for index in range(len(data_away)):
        for key in data_away[index]:
            if key == 'X':
                x.append(data_away[index][key])
            if key == 'Y':
                y.append(data_away[index][key])
            if key == 'a_team':
                team.append(data_away[index][key])
            if key == 'h_team':
                opposing_team.append(data_away[index][key])
            if key == 'xG':
                xG.append(data_away[index][key])
            if key == 'result':
                result.append(data_away[index][key])
            if key == 'h_goals':
                home_score.append(data_away[index][key])
            if key == 'a_goals':
                away_score.append(data_away[index][key])
            if key == 'minute':
                minute.append(data_away[index][key])
            if key == 'player':
                player.append(data_away[index][key])
            if key == 'match_id':
                match_id.append(data_away[index][key])
            if key == 'h_a':
                h_a.append(data_away[index][key]) 
                
    match_id_list.append(match_id)
    x_list.append(x)
    y_list.append(y)
    team_list.append(team)
    opposing_team_list.append(opposing_team)
    xG_list.append(xG)
    result_list.append(result)
    home_score_list.append(home_score)
    away_score_list.append(away_score)
    minute_list.append(minute)
    player_list.append(player)
    h_a_list.append(h_a)

In [437]:
match_id_list = [val for sublist in match_id_list for val in sublist]
x_list = [val for sublist in x_list for val in sublist]
y_list = [val for sublist in y_list for val in sublist]
team_list = [val for sublist in team_list for val in sublist]
opposing_team_list = [val for sublist in opposing_team_list for val in sublist]
xG_list = [val for sublist in xG_list for val in sublist]
result_list = [val for sublist in result_list for val in sublist]
home_score_list = [val for sublist in home_score_list for val in sublist]
away_score_list = [val for sublist in away_score_list for val in sublist]
minute_list = [val for sublist in minute_list for val in sublist]
player_list = [val for sublist in player_list for val in sublist]
h_a_list = [val for sublist in h_a_list for val in sublist]

#Flattening nested lists

In [438]:
col_names = ['match_id','x','y','xG','minute','result','team','opposing_team','h_a','player','home_score','away_score']
df = pd.DataFrame([match_id_list,x_list,y_list,xG_list,minute_list,result_list,team_list,opposing_team_list,h_a_list,player_list,home_score_list,away_score_list],index=col_names)
# df = pd.DataFrame([all_data[0],all_data[1],all_data[2],all_data[3],all_data[4],all_data[5],all_data[6],all_data[7],all_data[8],all_data[9],all_data[10]],index=col_names)
df = df.T
df = df.astype({'minute':'int'})
df = df.sort_values(by=['match_id','minute'])
df = df.reset_index()

In [439]:
df['away_score'] = 0
df['home_score'] = 0

Up next, need to figure out how to add score once we see goal, and keep it there for all of the subsequent rows for that game

In [440]:
df['home_goal_scored'] = ''
df['away_goal_scored'] = ''

In [441]:
df['home_goal_scored'] = np.where((df['result'] == 'Goal') & (df['h_a'] == 'h') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'a'), 1, 0)
df['away_goal_scored'] = np.where((df['result'] == 'Goal') & (df['h_a'] == 'a') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'h'), 1, 0)

In [442]:
away_count = 0

In [443]:
# df['home_score'] = np.where((df['result'] == 'Goal') & (df['h_a'] == 'h') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'a'), 1, 0)
# df['away_score'] = np.where((df['result'] == 'Goal') & (df['h_a'] == 'a') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'h'), 1, 0)
# #Increment the score for each goal or own goal

In [444]:
unique_match_id = df['match_id'].unique()

In [445]:
df['away_score'] = (df['away_goal_scored'] == 1).cumsum()
df['home_score'] = (df['home_goal_scored'] == 1).cumsum()
#This sums for every time a goal is scored in the entire df -- need to do it for each individual match_id

In [446]:
#NOW NEED TO ITERATE THROUGH EACH MATCH ID AND SUM THEM THAT WAY

In [447]:
df['home_current_score'] = ''
df['away_current_score'] = ''

In [448]:
for i in range(len(df)):
    new_home = np.where((df['result'] == 'Goal') & (df['h_a'] == 'h') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'a'), 1, 0)
    new_away = np.where((df['result'] == 'Goal') & (df['h_a'] == 'a') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'h'), 1, 0)

In [449]:
for i in range(len(df)):
    df['home_current_score'][i+1] = new_home[i]
    df['away_current_score'][i+1] = new_away[i]
    
#Setting the value one after the goal scored as equal to one, because technically at the time of the goalscoring shot, the 
#score would not have changed yet -- so we want to change the one after

C:\Users\User\AppData\Local\Temp/ipykernel_11904/917744379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['home_current_score'][i+1] = new_home[i]
C:\Users\User\AppData\Local\Temp/ipykernel_11904/917744379.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['away_current_score'][i+1] = new_away[i]

In [450]:
df

,index,match_id,x,y,xG,minute,result,team,opposing_team,h_a,player,home_score,away_score,home_goal_scored,away_goal_scored,home_current_score,away_current_score
0,11,18202,0.8830000305175781,0.5070000076293946,0.18183407187461853,3,BlockedShot,Arsenal,Crystal Palace,a,Gabriel Jesus,0,0,0,0,,
1,12,18202,0.935,0.6120000076293945,0.3404459059238434,3,MissedShots,Arsenal,Crystal Palace,a,Gabriel Martinelli,0,0,0,0,0,0
2,13,18202,0.875,0.710999984741211,0.04480058327317238,7,SavedShot,Arsenal,Crystal Palace,a,Oleksandr Zinchenko,0,0,0,0,0,0
3,14,18202,0.8169999694824219,0.5640000152587891,0.04902607202529907,8,BlockedShot,Arsenal,Crystal Palace,a,Thomas Partey,0,0,0,0,0,0
4,15,18202,0.975,0.46900001525878904,0.5384948253631592,19,Goal,Arsenal,Crystal Palace,a,Gabriel Martinelli,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1530,1531,18261,0.7390000152587891,0.41200000762939454,0.05270746350288391,82,BlockedShot,Arsenal,Manchester United,a,Granit Xhaka,110,65,0,0,1,0
1531,1532,18261,0.825999984741211,0.539000015258789,0.0732697993516922,85,MissedShots,Arsenal,Manchester United,a,Fábio Vieira,110,65,0,0,0,0
1532,1533,18261,0.8130000305175781,0.514000015258789,0.07163623720407486,91,MissedShots,Arsenal,Manchester United,a,Emile Smith-Rowe,110,65,0,0,0,0
1533,1518,18261,0.925,0.48700000762939455,0.05266885459423065,93,BlockedShot,Manchester United,Arsenal,h,Cristiano Ronaldo,110,65,0,0,0,0
1534,1534,18261,0.735,0.63,0.012163028120994568,93,SavedShot,Arsenal,Manchester United,a,Fábio Vieira,110,65,0,0,0,0

In [451]:
test_home_list = home_score_list

In [452]:
test_home_list = np.where((df['result'] == 'Goal') & (df['h_a'] == 'h') | (df['result'] == 'OwnGoal') & (df['h_a'] == 'a'), 1, 0)

In [453]:
df['xG'] = df['xG'].astype(float)

In [454]:
xg_total = df.groupby('team')['xG'].sum()
#Count total xG for every team

In [455]:
#how to count xga?

In [456]:
xg_df

team
Arsenal                     8.893193
Aston Villa                 4.264243
Bournemouth                 1.108907
Brentford                   6.407425
Brighton                    6.806062
Chelsea                     6.204253
Crystal Palace              6.344293
Everton                     5.077466
Fulham                      6.345974
Leeds                       6.717046
Leicester                   3.352765
Liverpool                  10.966730
Manchester City            10.398971
Manchester United           6.470684
Newcastle United            6.224634
Nottingham Forest           4.038296
Southampton                 4.400333
Tottenham                   7.135378
West Ham                    3.445547
Wolverhampton Wanderers     3.897856
Name: xG, dtype: float64

In [457]:
xg_total = pd.DataFrame(data=xg_total)

In [458]:
xg_total['xGA'] = df.groupby('opposing_team')['xG'].sum()

In [460]:
xg_total['xG_difference'] = xg_total['xG'] - xg_total['xGA']

In [462]:
xg_total.sort_values(by)

TypeError: sort_values() missing 1 required positional argument: 'by'